.root {
  display: inline-flex;
  align-items: center;
}

.icon {
  fill: currentColor;
}

.label {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  line-height: 1;
  padding-top: .3em;
}
